### Library Installation

In [2]:
#!pip install pandas

In [3]:
import pandas as pd
import numpy as np

### File Importing

In [4]:
df = pd.read_csv("city_data.csv", delimiter='|')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
1,"Vienna, Austria",310,2983513,2018818,20.1,10.2,55770,3,"German, English, Turkish, Serbian",2500,1050,2061,340,2024-06-15 00:00:00
2,"Salzburg, Austria",243,375489,250472,20.3,3,66689,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
3,"Brussels, Belgium",681,3284548,2137425,27.5,10.7,62500,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
4,"Antwerp, Belgium",928,1139663,723396,27.7,6.2,57595,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00

### Header Correction

In [5]:
new_header = df.iloc[0]

df.columns = new_header
df = df[1:]

df.head()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
1,"Vienna, Austria",310,2983513,2018818,20.1,10.2,55770,3,"German, English, Turkish, Serbian",2500,1050,2061,340,2024-06-15 00:00:00
2,"Salzburg, Austria",243,375489,250472,20.3,3,66689,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
3,"Brussels, Belgium",681,3284548,2137425,27.5,10.7,62500,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
4,"Antwerp, Belgium",928,1139663,723396,27.7,6.2,57595,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
5,"Gent, Belgium",552,645813,417832,24.8,NaN,53311,2,"Dutch, French",2400,827,1200,120,2023-07-17 00:00:00

## Data Type Correction

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 1 to 86
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             86 non-null     object
 1   Population Density               85 non-null     object
 2   Population                       86 non-null     object
 3   Working Age Population           85 non-null     object
 4   Youth Dependency Ratio           86 non-null     object
 5   Unemployment Rate                85 non-null     object
 6   GDP per Capita                   85 non-null     object
 7   Days of very strong heat stress  86 non-null     object
 8   Main Spoken Languages            85 non-null     object
 9   Average Monthly Salary           86 non-null     object
 10  Avgerage Rent Price              86 non-null     object
 11  Average Cost of Living           86 non-null     object
 12  Average Price Groceries          6 non-null      object
 13  Last Data Update                 86 non-null     object
dtypes: object(14)
memory usage: 9.5+ KB

In [7]:
i8min, i8max, i16min, i16max, i32min, i32max, i64min, i64max = np.iinfo(np.int8).min, np.iinfo(np.int8).max, np.iinfo(np.int16).min, np.iinfo(np.int16).max, np.iinfo(np.int32).min, np.iinfo(np.int32).max, np.iinfo(np.int64).min, np.iinfo(np.int64).max
print(f'int8:[{i8min}, {i8max}]')
print(f'int16:[{i16min}, {i16max}]')
print(f'int32:[{i32min}, {i32max}]')
print(f'int64:[{i64min}, {i64max}]\n')


f16min, f16max, f32min, f32max, f64min, f64max = np.finfo(np.float16).min, np.finfo(np.float16).max, np.finfo(np.float32).min, np.finfo(np.float32).max, np.finfo(np.float64).min, np.finfo(np.float64).max
#float8 doesn't exist
print(f'float16:[{f16min}, {f16max}]')
print(f'float32:[{f32min}, {f32max}]')
print(f'float64:[{f64min}, {f64max}]')

int8:[-128, 127]
int16:[-32768, 32767]
int32:[-2147483648, 2147483647]
int64:[-9223372036854775808, 9223372036854775807]

float16:[-65504.0, 65504.0]
float32:[-3.4028234663852886e+38, 3.4028234663852886e+38]
float64:[-1.7976931348623157e+308, 1.7976931348623157e+308]

<span style="color:red">
    <font size="7">TO BE CORRECTED AFTER DEALING WITH MISSING VALUES</font>
</span>

In [8]:
df = df.astype({'City': 'category',
                'Population Density': 'float16',
                'Population': 'int32',
                'Working Age Population ': 'float32',
                'Youth Dependency Ratio': 'float16',
                'Unemployment Rate': 'float16',
                'GDP per Capita': 'float32',
                'Days of very strong heat stress': 'int8',
                'Main Spoken Languages': 'category',
                'Average Monthly Salary': 'int16',
                'Avgerage Rent Price': 'int16',
                'Average Cost of Living': 'int16',
                'Average Price Groceries': 'float16',
                'Last Data Update': 'datetime64[ns]'})

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 1 to 86
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             86 non-null     category
 1   Population Density               85 non-null     float16
 2   Population                       86 non-null     int32
 3   Working Age Population           85 non-null     float32
 4   Youth Dependency Ratio           86 non-null     float16
 5   Unemployment Rate                85 non-null     float16
 6   GDP per Capita                   85 non-null     float32
 7   Days of very strong heat stress  86 non-null     int8
 8   Main Spoken Languages            85 non-null     category
 9   Average Monthly Salary           86 non-null     int16
 10  Avgerage Rent Price              86 non-null     int16
 11  Average Cost of Living           86 non-null     int16
 12  Average Price Groceries          6 non-null      float16
 13  Last Data Update                 86 non-null     datetime64[ns]
dtypes: category(2), datetime64[ns](1), float16(4), float32(2), int16(3), int32(1), int8(1)
memory usage: 8.4 KB

## Data Wrangling and Analysis

1. How did you handle missing values and duplicate records in the dataset? Justify your approach.

2. 
    
        a) Which country appears most frequently in the dataset? How many cities are associated with it?

First we need to separate the city name from the country to which it belongs

The problem is that not all pairs in the City collumn have the same formatting.

In [10]:
temp = df.copy()
print(temp.iloc[2,0])
print(temp.iloc[12,0])
print(temp.iloc[15,0])
print(temp.iloc[38,0])

Brussels, Belgium
Lemesos;Cyprus
Berlin. Germany
Lyon,  France

So we will correct it by replacing the formatting errors such as ';', '.' and double spaces with the same ', '.

In [11]:
corrected = []
for city in temp.City:
    if ';' in city:
        corrected.append(city.replace(';', ', '))
    elif '.'in city:
        corrected.append(city.replace('.', ','))
    elif '  ' in city:
        corrected.append(city.replace('  ', ' '))
    else:
        corrected.append(city)

temp.City = corrected

print(temp.iloc[2,0])
print(temp.iloc[12,0])
print(temp.iloc[15,0])
print(temp.iloc[38,0])

Brussels, Belgium
Lemesos, Cyprus
Berlin, Germany
Lyon, France

Another problem is that in row 45 the pair is in 'country, city' format instead of 'city, country', we can solve it by manually correcting it.

In [12]:
temp.iloc[45]

0
City                                    Greece, Athens
Population Density                              1829.0
Population                                     3530371
Working Age Population                       2287174.0
Youth Dependency Ratio                            22.0
Unemployment Rate                            17.203125
GDP per Capita                                 38580.0
Days of very strong heat stress                     17
Main Spoken Languages                   Greek, English
Average Monthly Salary                            1050
Avgerage Rent Price                                600
Average Cost of Living                            1200
Average Price Groceries                            NaN
Last Data Update                   2024-07-16 00:00:00
Name: 46, dtype: object

In [13]:
temp.iloc[45, 0] = 'Athens, Greece'

temp.iloc[45]

0
City                                    Athens, Greece
Population Density                              1829.0
Population                                     3530371
Working Age Population                       2287174.0
Youth Dependency Ratio                            22.0
Unemployment Rate                            17.203125
GDP per Capita                                 38580.0
Days of very strong heat stress                     17
Main Spoken Languages                   Greek, English
Average Monthly Salary                            1050
Avgerage Rent Price                                600
Average Cost of Living                            1200
Average Price Groceries                            NaN
Last Data Update                   2024-07-16 00:00:00
Name: 46, dtype: object

Now that all pairs have consistent formatting we can split the pairs in CityName and Country.

In [14]:
#Extract the country

pairs = [city.split(', ') for city in temp.City]

cities = [pair[0] for pair in pairs]
countries = [pair[1] for pair in pairs]

print(cities)
print(countries)

['Vienna', 'Salzburg', 'Brussels', 'Antwerp', 'Gent', 'Bruges', 'Sofia', 'Dobrich', 'Zurich', 'Geneva', 'Basel', 'Lefkosia', 'Lemesos', 'Prague', 'Ostrava', 'Berlin', 'Berlin', 'Hamburg', 'Munich', 'Cologne', 'Frankfurt am Main', 'Stuttgart', 'Leipzig', 'Dresden', 'Dusseldorf', 'Hanover', 'Copenhagen', 'Odense', 'Madrid', 'Barcelona', 'Valencia', 'Seville', 'Malaga', 'Malaga', 'Tallinn', 'Helsinki', 'Tampere', 'Paris', 'Lyon', 'Toulouse', 'London', 'Leeds', 'Glasgow', 'Liverpool', 'Edinburgh', 'Athens', 'Thessaloniki', 'Zagreb', 'Split', 'Budapest', 'Miskolc', 'Debrecen', 'Dublin', 'Cork', 'Rome', 'Milan', 'Naples', 'Turin', 'Florence', 'Venice', 'Luxembourg', 'Riga', 'Malta', 'The Hague', 'Amsterdam', 'Rotterdam', 'Utrecht', 'Eindhoven', 'Oslo', 'Bergen', 'Stavanger', 'Warsaw', 'Lodz', 'Cracow', 'Lisbon', 'Porto', 'Braga', 'Coimbra', 'Giroc', 'Bratislava', 'Ljubljana', 'Stockholm', 'Gothenburg', 'Malmo', 'Ankara', 'Adana']
['Austria', 'Austria', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Bulgaria', 'Bulgaria', 'Switzerland', 'Switzerland', 'Switzerland', 'Cyprus', 'Cyprus', 'Czechia', 'Czechia', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Denmark', 'Denmark', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Estonia', 'Finland', 'Finland', 'France', 'France', 'France', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Greece', 'Greece', 'Croatia', 'Croatia', 'Hungary', 'Hungary', 'Hungary', 'Ireland', 'Ireland', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Luxembourg', 'Latvia', 'Malta', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Norway', 'Norway', 'Norway', 'Poland', 'Poland', 'Poland', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Romania', 'Slovak Republic', 'Slovenia', 'Sweden', 'Sweden', 'Sweden', 'Turkiye', 'Turkiye']

Now that we have the cities and country lists we can add them to the dataframe.

In [15]:
temp['CityName'] = cities
temp['Country'] = countries

temp.loc[:,['City', 'CityName', 'Country']]

0                 City    CityName  Country
1      Vienna, Austria      Vienna  Austria
2    Salzburg, Austria    Salzburg  Austria
3    Brussels, Belgium    Brussels  Belgium
4     Antwerp, Belgium     Antwerp  Belgium
5        Gent, Belgium        Gent  Belgium
..                 ...         ...      ...
82   Stockholm, Sweden   Stockholm   Sweden
83  Gothenburg, Sweden  Gothenburg   Sweden
84       Malmo, Sweden       Malmo   Sweden
85     Ankara, Turkiye      Ankara  Turkiye
86      Adana, Turkiye       Adana  Turkiye

[86 rows x 3 columns]

As we can see anothor problem arises, there are cities that are duplicated in the dataset.

In [16]:
temp[temp.duplicated(keep=False)]

/home/vscode/.local/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,CityName,Country
16,"Berlin, Germany",304.0,5303922,3481212.0,21.296875,4.699219,46548.0,3,"German, Turkish, Arabic, English",3200,1220,2200,NaN,2023-06-29,Berlin,Germany
17,"Berlin, Germany",304.0,5303922,3481212.0,21.296875,4.699219,46548.0,3,"German, Turkish, Arabic, English",3200,1220,2200,NaN,2023-06-29,Berlin,Germany
33,"Malaga, Spain",571.0,869096,585608.0,23.500000,17.703125,27694.0,0,"Spanish, English",2200,1312,1400,NaN,2023-11-27,Malaga,Spain
34,"Malaga, Spain",571.0,869096,585608.0,23.500000,17.703125,27694.0,0,"Spanish, English",2200,1312,1400,NaN,2023-11-27,Malaga,Spain

So we will drop the second occurence of each of these cities.

In [17]:
temp.drop_duplicates(inplace=True)

temp[temp.duplicated(keep=False)]

Empty DataFrame
Columns: [City, Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Average Price Groceries, Last Data Update, CityName, Country]
Index: []

We just need to check if there is a duplicated city name in the dataset with different data associated with it. As we can check in the following output this doesn't happen in our dataset

In [18]:
temp[temp.duplicated(subset=['CityName'])]

Empty DataFrame
Columns: [City, Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Average Price Groceries, Last Data Update, CityName, Country]
Index: []

Now we can make the changes to our DataFrame permanent by applying them to the original DataFrame.

In [19]:
df = temp

Finally we can count the name of rows (Cities) that have the same value in the 'Country' collumn.

In [20]:
df['Country'].value_counts()

Country
Germany            10
Italy               6
United Kingdom      5
Spain               5
Netherlands         5
Belgium             4
Portugal            4
Hungary             3
Poland              3
Sweden              3
France              3
Norway              3
Switzerland         3
Czechia             2
Turkiye             2
Greece              2
Denmark             2
Finland             2
Austria             2
Bulgaria            2
Cyprus              2
Croatia             2
Ireland             2
Estonia             1
Luxembourg          1
Latvia              1
Malta               1
Romania             1
Slovenia            1
Slovak Republic     1
Name: count, dtype: int64

This way we can conclude that the most frequent country is Germany and it has 11 cities associated with it.

        b) How many cities are present in total? How many are associated with Greece?

As we solved duplicate entries in the previous item the number of cities in the dataset is the number of rows in our dataset.

In [21]:
df

/home/vscode/.local/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,CityName,Country
1,"Vienna, Austria",310.0,2983513,2018818.0,20.093750,10.203125,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15,Vienna,Austria
2,"Salzburg, Austria",243.0,375489,250472.0,20.296875,3.000000,66689.0,0,German,3200,1100,2186,NaN,2023-11-03,Salzburg,Austria
3,"Brussels, Belgium",681.0,3284548,2137425.0,27.500000,10.703125,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22,Brussels,Belgium
4,"Antwerp, Belgium",928.0,1139663,723396.0,27.703125,6.199219,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09,Antwerp,Belgium
5,"Gent, Belgium",552.0,645813,417832.0,24.796875,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17,Gent,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Stockholm, Sweden",334.0,2344124,1534225.0,28.500000,6.199219,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11,Stockholm,Sweden
83,"Gothenburg, Sweden",245.0,1037675,672152.0,28.203125,6.300781,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10,Gothenburg,Sweden
84,"Malmo, Sweden",368.0,680335,436271.0,29.406250,9.203125,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07,Malmo,Sweden
85,"Ankara, Turkiye",1922.0,4843511,3417691.0,30.000000,14.398438,38916.0,3,Turkish,900,450,900,309.0,2023-06-08,Ankara,Turkiye
86,"Adana, Turkiye",552.0,1074543,718256.0,37.812500,12.203125,19945.0,59,Turkish,750,350,800,NaN,2024-05-02,Adana,Turkiye

As we can see at the bottom of the privious table there are 84 cities in our dataset.

As for the number of cities associated with Greece, there are 2 cities associated with Greece (as per the next output)

In [22]:
print(df.query('Country == "Greece"').shape[0], 'rows')
df.query('Country == "Greece"')

/home/vscode/.local/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

2 rows

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,CityName,Country
46,"Athens, Greece",1829.0,3530371,2287174.0,22.000000,17.203125,38580.0,17,"Greek, English",1050,600,1200,NaN,2024-07-16,Athens,Greece
47,"Thessaloniki, Greece",381.0,1050568,684564.0,22.203125,19.906250,23940.0,10,Greek,1000,550,1100,NaN,2023-12-21,Thessaloniki,Greece

        c) Which is the least spoken language in the dataset? Which are the top 3 most spoken languages?

In [23]:
df[['City', 'Main Spoken Languages']].head()

0               City              Main Spoken Languages
1    Vienna, Austria  German, English, Turkish, Serbian
2  Salzburg, Austria                             German
3  Brussels, Belgium     French, Dutch, Arabic, English
4   Antwerp, Belgium              Dutch, French, Arabic
5      Gent, Belgium                      Dutch, French

As we can see the `Most Spoken Language` column is formatted as a string of comma separated languages, so we will firstly need to convert it to a list of the languages spoken in that city.

In [24]:
temp = df.copy()

<span style="color:red">
    <font size="7">---REMOVE---</font>
</span>

In [25]:
temp['Main Spoken Languages'].dropna(inplace=True)

<span style="color:red">
    <font size="7">------------</font>
</span>

In [26]:
temp['Main Spoken Languages'] = temp['Main Spoken Languages'].astype(str).str.split(', ')

temp.head()

/home/vscode/.local/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,CityName,Country
1,"Vienna, Austria",310.0,2983513,2018818.0,20.093750,10.203125,55770.0,3,"[German, English, Turkish, Serbian]",2500,1050,2061,340.0,2024-06-15,Vienna,Austria
2,"Salzburg, Austria",243.0,375489,250472.0,20.296875,3.000000,66689.0,0,[German],3200,1100,2186,NaN,2023-11-03,Salzburg,Austria
3,"Brussels, Belgium",681.0,3284548,2137425.0,27.500000,10.703125,62500.0,3,"[French, Dutch, Arabic, English]",3350,1200,1900,NaN,2023-04-22,Brussels,Belgium
4,"Antwerp, Belgium",928.0,1139663,723396.0,27.703125,6.199219,57595.0,3,"[Dutch, French, Arabic]",2609,900,1953,NaN,2024-08-09,Antwerp,Belgium
5,"Gent, Belgium",552.0,645813,417832.0,24.796875,NaN,53311.0,2,"[Dutch, French]",2400,827,1200,120.0,2023-07-17,Gent,Belgium

Now that we have the languages in a list, we need to explode this collumn creating a new row for each language spoken in a city.

In [27]:
exploded_languages = temp.explode('Main Spoken Languages')

exploded_languages.head()

/home/vscode/.local/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update,CityName,Country
1,"Vienna, Austria",310.0,2983513,2018818.0,20.093750,10.203125,55770.0,3,German,2500,1050,2061,340.0,2024-06-15,Vienna,Austria
1,"Vienna, Austria",310.0,2983513,2018818.0,20.093750,10.203125,55770.0,3,English,2500,1050,2061,340.0,2024-06-15,Vienna,Austria
1,"Vienna, Austria",310.0,2983513,2018818.0,20.093750,10.203125,55770.0,3,Turkish,2500,1050,2061,340.0,2024-06-15,Vienna,Austria
1,"Vienna, Austria",310.0,2983513,2018818.0,20.093750,10.203125,55770.0,3,Serbian,2500,1050,2061,340.0,2024-06-15,Vienna,Austria
2,"Salzburg, Austria",243.0,375489,250472.0,20.296875,3.000000,66689.0,0,German,3200,1100,2186,NaN,2023-11-03,Salzburg,Austria

Now we can finally check how many times each language apears in the `exploded_languages` dataframe.

In [28]:
exploded_languages['Main Spoken Languages'].value_counts()

Main Spoken Languages
English              46
German               14
Turkish              10
French               10
Dutch                 9
Italian               6
Polish                4
Swedish               4
Greek                 4
Spanish               4
Portuguese            4
Hungarian             3
Arabic                3
Norwegian             3
Russian               3
Irish Gaelic          2
Urdu                  2
Finnish               2
Danish                2
Bulgarian             2
Czech                 2
Croatian              2
Serbian               1
  Arabic              1
Estonian              1
nan                   1
Catalan               1
Spanish;Valencian     1
Scots Gaelic          1
Scots                 1
Bengali               1
Latvian               1
Luxembourgish         1
Maltese               1
Romanian              1
Slovak                1
Slovene               1
Name: count, dtype: int64

The least spoken language is Slovene and the 3 most spoken are English, German and Turkish.

3. 

        a) Entries uploaded before April 2023 need to be updated. Which cities would require an update?

        b) How many days ago was the last update? On what day, month, and year did it occur?

4. 

        a) How are the Unemployment Rate and GDP per Capita distributed and related? What does this relationship suggest? Provide a visual representation.

In [29]:
#install plotly
#!pip install plotly
#!pip install matplotlib
#!pip install statsmodels

In [30]:
# Import libraries and define the alias
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

In [31]:
#plotly importation
import plotly.express as px #plotly express
import plotly.graph_objects as go #plotly graph objects

In [32]:
x = df['GDP per Capita'].astype('float32').dropna()
y = df['Unemployment Rate'].astype('float32').dropna()

# linear regression
slope, intercept = np.polyfit(x, y, 1)
y_fit = slope * x + intercept

fig = go.Figure()

fig.add_trace(go.Scatter(x = x, y = y, mode='markers', marker=dict(color="#914678", size=10, symbol='star'), name = 'Relation'))

# trendline
fig.add_trace(go.Scatter(x=x, y=y_fit, mode='lines', line=dict(color = "#58F011", width=2), name="Trendline"
))

fig.update_layout(title = dict(text="<b>GDP per Capita and Unemployment Rate Distribution</b>",  
                               font=dict(family='Arial', size=20, color='#000000'),
                               xanchor = 'center', x = 0.5, yanchor='top', y=0.9),)

fig.update_xaxes(title_text='GDP per Capita', title_font=dict(family='Arial', size=12, color='#000000'))

fig.update_yaxes(title_text='Unemployment Rate', title_font=dict(family='Arial', size=12, color='#000000'))

fig.show()

The relation between the Unemployent Rate and the GDP per Capita suggests that in cities with a higher Unemployment Rate the GDP per Capita is lower.

        b) Which are the top 5 cities with the largest difference between the Average Monthly Salary and Average Cost of Living?
        What about the top 5 countries with the smallest average difference?
        Show these results with meaningful visualizations.

In [33]:
city_data_copy = df.copy()

In [34]:
city_data_copy['Average Savings'] = city_data_copy['Average Monthly Salary'] - city_data_copy['Average Cost of Living']

In [102]:
city_data_sorted = city_data_copy.sort_values(by='Average Savings')
fig = go.Figure()
fig.add_trace(go.Bar(x = city_data_sorted['CityName'], y = city_data_sorted['Average Savings'], 
                     marker=dict(color="#F011A6"),))
fig.update_layout(xaxis_title = 'City', yaxis_title = 'Difference', width=1300, height=500)
fig.update_layout(title = dict(text="<b>Difference between Average Monthly Salary and Average Cost of Living by City</b>",  
                               font=dict(family='Arial', size=17, color='#000000'),
                               xanchor = 'center', x = 0.5, yanchor='top', y=0.9),)
fig.update_layout(font = dict(size = 10))
fig.show()

The top 5 cities with the largest difference between the Average Monthly Salary and Average Cost of Living are (in descending order):
Basel, Tampere, Helsinki, Zurich and Geneve.

In [86]:
savings_per_country = pd.pivot_table(city_data_copy, index='Country', 
                                    values='Average Savings', 
                                    aggfunc={'Average Savings':'mean'}).round(2).reset_index()
savings_per_country.head()

0   Country  Average Savings
0   Austria            726.5
1   Belgium           1074.5
2  Bulgaria            150.0
3   Croatia            245.0
4    Cyprus            168.0

In [101]:
savings_per_country_sorted = savings_per_country.sort_values(by='Average Savings')
fig = go.Figure()
fig.add_trace(go.Bar(x = savings_per_country_sorted['Country'], y = savings_per_country_sorted['Average Savings'], 
                     marker=dict(color="#A2F011")))
fig.update_layout(xaxis_title = 'Country', yaxis_title = 'Difference', width=900, height=500)
fig.update_layout(title = dict(text="<b>Difference between Average Monthly Salary and Average Cost of Living by Country</b>",  
                               font=dict(family='Arial', size=17, color='#000000'),
                               xanchor = 'center', x = 0.5, yanchor='top', y=0.9))
fig.show()

The top 5 countries with the smallest average difference are (in ascending order):
Portugal, Greece, Slovak Republic, Turkiye and Poland.

        c) Which is the best city for someone seeking:
                an average monthly salary above â‚¬1600,
                a cost of living below â‚¬900, and
                a country suitable for starting a family (with a relatively larger youth population)?

In [116]:
city_data_filtered = city_data_copy[(city_data_copy['Average Monthly Salary'] > 2000)]
city_data_filtered = city_data_filtered[(city_data_filtered['Average Cost of Living'] <= 1600)]
city_data_filtered_sorted = city_data_filtered.sort_values(by = 'Unemployment Rate')
city_data_filtered_sorted[['City', 'Average Monthly Salary', 'Average Cost of Living', 'Unemployment Rate']]

/home/vscode/.local/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning:

overflow encountered in cast

,City,Average Monthly Salary,Average Cost of Living,Unemployment Rate
24,"Dresden, Germany",3050,1530,3.800781
23,"Leipzig, Germany",2800,1600,4.300781
37,"Tampere, Finland",3500,1600,6.601562
40,"Toulouse, France",2600,1600,8.500000
29,"Madrid, Spain",2271,1589,10.796875
31,"Valencia, Spain",2400,1300,13.703125
33,"Malaga, Spain",2200,1400,17.703125
32,"Seville, Spain",2300,1150,21.593750
5,"Gent, Belgium",2400,1200,NaN

The best city for someone seeking those specific conditions is Dresden, Germany.

5. What are three additional insights you find meaningful when comparing the given cities?

## Advanced Topic - Building an Interactive Map

1. Web Scraping

2. Interactive Map

## Data Science In Action