### Library Installation

In [2]:
#!pip install pandas

In [3]:
import pandas as pd

### File Importing

In [6]:
df = pd.read_csv("city_data.csv", delimiter='|')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
1,"Vienna, Austria",310,2983513,2018818,20.1,10.2,55770,3,"German, English, Turkish, Serbian",2500,1050,2061,340,2024-06-15 00:00:00
2,"Salzburg, Austria",243,375489,250472,20.3,3,66689,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
3,"Brussels, Belgium",681,3284548,2137425,27.5,10.7,62500,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
4,"Antwerp, Belgium",928,1139663,723396,27.7,6.2,57595,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00

### Header Correction

In [8]:
new_header = df.iloc[0]

df.columns = new_header
df = df[1:]

df.head()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
1,"Vienna, Austria",310,2983513,2018818,20.1,10.2,55770,3,"German, English, Turkish, Serbian",2500,1050,2061,340,2024-06-15 00:00:00
2,"Salzburg, Austria",243,375489,250472,20.3,3,66689,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
3,"Brussels, Belgium",681,3284548,2137425,27.5,10.7,62500,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
4,"Antwerp, Belgium",928,1139663,723396,27.7,6.2,57595,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
5,"Gent, Belgium",552,645813,417832,24.8,NaN,53311,2,"Dutch, French",2400,827,1200,120,2023-07-17 00:00:00

## Data Wrangling and Analysis

1. How did you handle missing values and duplicate records in the dataset? Justify your approach.

2. 
    
        a) Which country appears most frequently in the dataset? How many cities are associated with it?

        b) How many cities are present in total? How many are associated with Greece?

        c) Which is the least spoken language in the dataset? Which are the top 3 most spoken languages?

3. 

        a) Entries uploaded before April 2023 need to be updated. Which cities would require an update?

        b) How many days ago was the last update? On what day, month, and year did it occur?

4. 

        a) How are the Unemployment Rate and GDP per Capita distributed and related? What does this relationship suggest? Provide a visual representation.

        b) Which are the top 5 cities with the largest difference between the Average Monthly Salary and Average Cost of Living?
        What about the top 5 countries with the smallest average difference?
        Show these results with meaningful visualizations.

        c) Which is the best city for someone seeking:
                an average monthly salary above €1600,
                a cost of living below €900, and
                a country suitable for starting a family (with a    relatively larger youth population)?

5. What are three additional insights you find meaningful when comparing the given cities?

## Advanced Topic - Building an Interactive Map

1. Web Scraping

2. Interactive Map

## Data Science In Action