In [12]:
#!pip install pandas

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("city_data.csv", delimiter='|')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
1,"Vienna, Austria",310,2983513,2018818,20.1,10.2,55770,3,"German, English, Turkish, Serbian",2500,1050,2061,340,2024-06-15 00:00:00
2,"Salzburg, Austria",243,375489,250472,20.3,3,66689,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
3,"Brussels, Belgium",681,3284548,2137425,27.5,10.7,62500,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
4,"Antwerp, Belgium",928,1139663,723396,27.7,6.2,57595,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Stockholm, Sweden",334,2344124,1534225,28.5,6.2,70950,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11 00:00:00
83,"Gothenburg, Sweden",245,1037675,672152,28.2,6.3,49588,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10 00:00:00
84,"Malmo, Sweden",368,680335,436271,29.4,9.2,44387,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07 00:00:00
85,"Ankara, Turkiye",1922,4843511,3417691,30,14.4,38916,3,Turkish,900,450,900,309,2023-06-08 00:00:00
86,"Adana, Turkiye",552,1074543,718256,37.8,12.2,19945,59,Turkish,750,350,800,NaN,2024-05-02 00:00:00